/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */
.debug .top-background{
    background-color: #add8e6;
    
}
.debug .header-top{
    background-color: #daa520;
    height: 40px;
    border-style: dashed;
    
}
.debug .bottom-background{
    background-color: #00008b;
    height: 500px;
}
.debug .hero{
    max-width: 900px;
    height: 400px;
    background-color: #ee82ee;
    border-style: dashed;
}
.debug .col-big{
    background-color: #1e90ff;
    border-style: dashed;
}
.debug .col-small{
    background-color: #ffc0cb;
    border-style: dashed;
}
.debug .col-biggest{
    background-color: #228b22;
    border-style: dashed;
}
.debug .col-first{
    background-color: #f08080;
    border-style: dashed;
}
.debug .col-second{
    background-color: #20b2aa;
    border-style: dashed;
    border-color: white;
}
.debug .footer-bottom{
    background-color: #7fffd4;
    border-style: dashed;
}

/* common */
.container{
   max-width: 1200px;
   margin: auto;    
}

/* header */
.top-background{
    padding: 16px 0;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;  
}
.main-nav ul{
    list-style: none;
    display: flex;
}
.main-nav ul li{
    margin: 0 10px;
}
.main-nav ul li a{
    text-decoration: none;
    color: inherit;
}
.login{
    border-left-style: dashed;
    width: 20%;
    text-align: end;
}
header .logo{
    border-right-style: dashed;
    width: 20%;
}
.bottom-background{
    padding: 50px 0;
}
.hero{
    margin: auto;
}

/* main */
section .container{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
section:nth-child(2n){
    background-color: #d3d3d3;
}   
.col-big{
    height: 500px;
    width: 60%;
}
.col-small{
    height: 500px;
    width: 40%;
}
.col-biggest{
    height: 800px;
    width: 100%;
}

/* footer */
footer{
    background-color: #23272a;
}
.footer-top{
    display: flex;
    padding: 10px 0 30px 0;
    
}
.col-first{
    height: 500px;
    width: calc(100% / 3);
}
.col-second{
    height: 500px;
    width: calc(100% / 6);
}
.footer-bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0;
    margin-top: 20px;
}
.logo-footer{
    width: 70px;
    height: 35px;
    background-color: #ffb6c1;
    text-align: center;
    padding: 7px;
    border-style: dashed;
    
}
.bottone{
    width: 70px;
    height: 35px;
    background-color: #ffb6c1;
    text-align: center;
    padding: 7px;
    border-style: dashed;
}