/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */
.debug .top-background{
    background-color: #add8e6;
    
}
.debug .header-top{
    background-color: #daa520;
    height: 40px;
    
}
.debug .bottom-background{
    background-color: #00008b;
    height: 500px;
}
.debug .hero{
    max-width: 900px;
    height: 400px;
    background-color: #ee82ee;
}

/* common */
.container{
   max-width: 1200px;
   margin: auto; 
   
}

/* header */
.top-background{
    padding: 16px 0;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.bottom-background{
    padding: 50px 0;
}
.hero{
    margin: auto;
}


/* main */

/* footer */