/* reset */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* debug */
.debug .top-background{
    background-color: #add8e6;
    
}
.debug .header-top{
    background-color: #daa520;
    height: 40px;
    
}
.debug .bottom-background{
    background-color: #00008b;
    height: 500px;
}
.debug .hero{
    max-width: 900px;
    height: 400px;
    background-color: #ee82ee;
}
.debug .col-big{
    background-color: #1e90ff;
}
.debug .col-small{
    background-color: #ffc0cb;
}
.debug .col-biggest{
    background-color: #228b22;
}

/* common */
.container{
   max-width: 1200px;
   margin: auto;    
}

/* header */
.top-background{
    padding: 16px 0;
}

.header-top{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.bottom-background{
    padding: 50px 0;
}
.hero{
    margin: auto;
}


/* main */
section .container{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}
section:nth-child(2n){
    background-color: #d3d3d3;
}   
.col-big{
    height: 500px;
    width: 60%;
}
.col-small{
    height: 500px;
    width: 40%;
}
.col-biggest{
    height: 800px;
    width: 100%;
}

/* footer */